.catalog-item {
  width: 260px;
  border: 1px solid #ededed;
}

.catalog-item__description {
  margin-top: 25px;
  padding-bottom: 15px;
}

.catalog-item__title {
  margin: 0;
  color: $black;

  @include font-set(17px, 24px, bold);
}

.catalog-item__specs {
  margin: 0;
  color: $description-color;

  @include font-set(13px, 30px);
}

.catalog-item__price {
  font-size: 15px;
  font-weight: bold;
}


/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .catalog-item {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 668px;
    height: 332px;
  }

  .catalog-item__link-image {
    width: 50%;
    height: 100%;
  }

  .catalog-item__header {
    padding-bottom: 150px;
  }
}


/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .catalog-item {
    display: flex;
    flex-wrap: wrap;
    width: 316px;
    height: auto;
  }

  .catalog-item:not(:last-child) {
    margin-right: 51px;
  }

  .catalog-item__link-image {
    width: auto;
    height: auto;
  }

  .catalog-item__header {
    padding-bottom: 45px;
  }

  .catalog-item__description,
  .catalog-item__footer {
    padding: 0 30px;
  }
}
