.category__list {
  @include list-style-drop;
  width: 320px;
  margin: 0 auto;
}

.category__item {
  &--interior {
    background-color: $primary-color;
  }

  &--toys {
    background-color: #56c3b2;
  }
}

.category__link {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 30px;
  font-size: 19px;
  font-weight: bold;
  color: $white;
  outline: none;
}

.category__item--interior .category__link {
  padding-top: 16px;
  padding-bottom: 16px;

  &:after {
    content: "";
    width: 50px;
    height: 70px;
    background: url("../img/icon-interior.svg");
    background-repeat: no-repeat;
    background-size: 40px 62px;
    background-position: 4px 7px;
    opacity: 0.5;
  }
}

.category__item--toys .category__link {
  padding-top: 21px;
  padding-bottom: 22px;

  &:after {
    content: "";
    width: 60px;
    height: 60px;
    background: url("../img/icon-toy.svg");
    background-repeat: no-repeat;
    background-size: 60px 60px;
    //background-position: 3px;
    opacity: 0.5;
  }
}

.category__link span {
  width: 110px;
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .category__list {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 768px;
    margin-top: -118px;
    padding: 0 50px;
  }

  .category__item {
    width: 50%;
  }

  .category__link {
    padding: 0 36px;

    @include font-set(20px, 30px);
  }

  .category__item--interior .category__link {
    padding-top: 26px;
    padding-bottom: 28px;

    &:after {
      width: 50px;
      height: 70px;
      background-size: 40px 62px;
      background-position: 10px 7px;
    }
  }

  .category__item--toys .category__link {
    padding-top: 31px;
    padding-bottom: 28px;

    &:after {
      width: 60px;
      height: 60px;
      background-size: 60px 60px;
      //background-position: 3px;
    }
  }

  .category__link span {
    width: 115px;
  }
}

/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .category__list {
    width: 1150px;
  }

  .category__item--interior .category__link:hover,
  .category__item--interior .category__link:focus {
    background-color: $primary-color;
  }

  .category__item--toys .category__link:hover,
  .category__item--toys .category__link:focus {
    background-color: #56c3b2;
  }

  .category__link {
    &:hover,
    &:focus {
      transform: translateY(-5px);
    }

    &:active span,
    &:active .category__interior-icon,
    &:active .category__toy-icon {
      opacity: 0.3;
    }
  }
}
