.contacts__title {
  margin: 0;
  margin-top: 30px;
  margin-bottom: 20px;

  @include font-set(18px, 30px, bold);
}

.contacts__type,
.contacts__link,
.contacts__text {
  color: $description-color;

  @include font-set(15px, 30px);
}

.contacts__text {
  margin: 0;
}
