.contacts {
  width: 320px;
  margin: 0 auto;
}

.contacts__wrapper {
  width: 260px;
  margin: 0 auto;
}

.contacts__title {
  margin: 30px 0 20px;

  @include font-set(18px, 30px, bold);
}

.contacts__type,
.contacts__link,
.contacts__text {
  color: $description-color;

  @include font-set(15px, 30px);
}

.contacts__text {
  margin: 0;
}


/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .contacts {
    width: 768px;
  }

  .contacts__wrapper {
    width: 668px;
  }
}


/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .contacts {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width: 1050px;
    height: 480px;
  }

  .contacts__map {
    order: 1;
  }
}
