.feedback__title {
  margin: 0;
  margin-top: 57px;
  @include font-set(25px, 30px, bold);
}

.feedback__item {
  margin: 0;
  margin-top: 28px;
}

.feedback__text {
  margin: 0;
  margin-bottom: 20px;
  @include font-set(15px, 30px);
  color: $description-color;
}

.feedback__author {

}

.feedback__author-name {
  font-weight: bold;
}

.feedback__author-tag {
  line-height: 30px;
  color: $description-color;
}
