.overlay {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 100;
  width: 320px;
  padding: 33px 30px 46px;
  border-top: 1px solid #c7c7c7;
  border-bottom: 1px solid #c7c7c7;
  background-color: $white;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.25);
  transform: translate(-50%, -50%);

  &--add-cart {
    display: none;
  }
}

.modal__title {
  width: 150px;
  margin: 0;
  margin-left: 60px;
  text-transform: uppercase;

  @include font-set(25px, 30px, bold);
}

.modal__text {
  margin: 0;
  padding: 13px 62px 22px;
  color: $description-color;

  @include font-set(15px, 30px);
}

.modal__button {
  width: 260px;
  margin-top: 31px;
  padding: 14px 30px;

  @include font-set(17px, 20px, bold);

  color: $white;
  text-align: center;
  text-transform: uppercase;
  background-color: $primary-color;
  border: none;
  outline: none;
  cursor: pointer;
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .modal {
    width: 568px;
    padding-right: 0;
    padding-left: 0;
    border: 1px solid #c7c7c7;
  }

  .modal__title {
    width: 355px;
    margin: 0 auto;

    @include font-set(30px, 57px);
  }

  .modal__text {
    padding-right: 204px;
    padding-left: 204px;
    font-size: 17px;
  }

  .modal__form {
    width: 568px;
    margin-right: 108px;
    margin-left: 108px;
  }

  .modal__button {
    width: 350px;
  }
}
