.order {
  padding-top: 21px;
  padding-bottom: 55px;
}

.order__description {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  font-size: 13px;
  color: $description-color;
}

.order__form {
  padding-top: 24px;
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .order {
    padding-top: 72px;
    padding-bottom: 50px;
  }

  .order__description {
    width: 768px;
    padding: 0 50px;

    @include font-set(17px, 30px);
  }

  .order__form {
    padding-top: 8px;
  }
}

/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .order {
    padding-top: 121px;
  }

  .order__description {
    width: 1150px;
    padding: 0 225px;
  }
}
