.order-form__item {
  margin: 0;
  padding: 0;
  border: none;
}

.order-form__item:not(:last-of-type) {
  margin-bottom: 30px;
}

.order-form__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
}

.order-form__title {
  display: flex;
  align-items: center;
  margin: 0;

  @include font-set(17px, 16px, bold);
  color: $primary-color;
  text-transform: uppercase;
}

.order-form__textarea {
  min-width: 100%;
  max-width: 100%;
  min-height: 142px;
  margin-top: 24px;
  padding: 13px 15px;
  font-family: inherit;
  line-height: 18px;
  color: $description-color;
  border: 2px solid #444444;
  outline: none;

  &::placeholder {
    color: $description-color;
    opacity: 0.3;
  }
}

.order-form__footer {
  width: 320px;
  margin: 0 auto;
  margin-top: 13px;
  padding: 0 30px;
}

.order-form__required {
  display: block;
  margin-bottom: 30px;

  @include font-set(14px, 16px);
  color: $description-color;
}

.order-form__button {
  width: 260px;
}

/// DECORATION LINE FOR MOBILE FORM TITLE
@media (max-width: $mobile-width-only) {
  .order-form__title {
    &::after {
      content: "";
      flex-grow: 1;
      width: 198px;
      height: 1px;
      margin-left: 27px;
      background-color: #62d1ba;
    }

    &--email::after {
      width: 175px;
    }
  }
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .order-form__wrapper {
    display: flex;
    align-items: flex-start;
    width: 768px;
    padding: 0 50px;
  }

  .order-form__item {
    padding-top: 65px;
  }

  .order-form__item:not(:last-of-type) {
    margin-bottom: 0;
  }

  .order-form__item:nth-child(even) {
    background-color: #f1f1f1;
  }

  .order-form__title {
    padding-top: 4px; //  >>>>>>>>>>>>>>>>>>>
    width: 167px;
  }

  .order-form__group {
    width: 501px;
  }

  .order-form__item-textarea {
    padding-top: 50px;
  }

  .order-form__item-textarea .order-form__title {
    margin-top: 17px;
  }

  .order-form__textarea {
    min-width: 501px;
    max-width: 501px;
    margin-top: 0;
    font-size: 19px;
  }

  .order-form__footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    margin-top: 53px;
    padding: 0 50px;
  }

  .order-form__required {
    order: 1;
    margin-top: -5px;
    margin-bottom: 0;

    @include font-set(17px, 30px);
  }

  .order-form__button {
    width: 230px;
  }
}

/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .order-form__wrapper {
    width: 1150px;
    padding: 0 50px;
  }

  .order-form__title {
    width: 175px;
    padding-left: 62px;
  }

  .order-form__group {
    width: 700px;
  }

  .order-form__textarea {
    min-width: 700px;
    max-width: 700px;

    &:hover,
    &:focus,
    &:active {
      border-color: #62d1ba;
    }
  }

  .order-form__footer {
    width: 1150px;
    margin-top: 49px;
    padding: 0 225px;
  }
}
