.page-footer {
  width: 100%;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 320px;
  margin: 0 auto;
  padding: 0 30px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.page-footer__logo {
  display: none;
}

.page-footer__social {
  padding-bottom: 21px;
}

.page-footer__copyright {
  padding-top: 22px;
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 768px;
    padding: 51px 50px;
    //padding: 31px 50px 28px;
  }

  .page-footer__logo {
    display: block;
    width: 179px;
    outline: none;
  }

  .page-footer__logo[href] {
    cursor: pointer;
  }

  .icon--footer-logo {
    width: 102px;
    height: 34px;
    fill: #231f20;
  }

  .page-footer__social {
    padding-bottom: 0;
  }

  .page-footer__copyright {
    padding-top: 0;
  }
}

/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1150px;
  }

  .page-footer__logo[href] {
    &:hover .icon--footer-logo,
    &:focus .icon--footer-logo {
      fill: #46c1ae;
    }

    &:active .icon--footer-logo {
      opacity: 0.3;
    }
  }
}
