.page-footer {
  width: 320px;
  margin: 0 auto;
  background-color: #f1f1f1;
}

.page-footer__wrapper {
  width: 260px;
  margin: 0 auto;
}

.page-footer__logo {
  display: none;
}


/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .page-footer {
    width: auto;
  }

  .page-footer__wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    width: 668px;
    margin: 0 auto;
  }

  .page-footer__logo {
    display: block;
  }
}


/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .page-footer__wrapper {
    width: 1050px;
  }
}
