.page-header__intro {
  background-color: #f1f1f1;

  &--image {
    background-image: url('../../img/hero-mobile@1x.jpg');
    background-repeat: no-repeat;
  }
}

.page-header__title {
  margin: 0;
  padding: 95px 0;
  @include font-set(27px, 30px, bold);
}
