.radio-group {
  margin: 0;
}

.radio-group__label {
  display: block;
  font-weight: bold;
  line-height: 18px;
}


/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .radio-group {
    display: flex;
    flex-direction: column;
  }
}
