.slider__controls {
  display: flex;
  height: 50px;
}

.slider__button {
  width: 50%;
  text-align: center;
  background-color: $white;
  border: 1px solid #ececec;
  outline: none;
  cursor: pointer;

  &--prev {
    border-right: none;
    background: url("../img/icon-left-arrow.svg");
    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-position: 37px 12px;
  }

  &--next {
    background: url("../img/icon-right-arrow.svg");
    background-repeat: no-repeat;
    background-size: 50px 26px;
    background-position: 37px 12px;
  }
}

/// TABLET WIDTH
@media (min-width: $tablet-width) {
  .slider__controls {
    width: 167px;
    margin-top: 25px;
    padding-right: 11px;
  }

  .slider__button {
    border: none;

    &--prev {
      background-position: 11px 12px;
    }

    &--next {
      background-position: 20px 12px;
    }
  }
}

/// DESKTOP WIDTH
@media (min-width: $desktop-width) {
  .slider__controls {
    width: 175px;
    margin-top: 10px;

  }

  .slider__button {
    &--prev {
      background-position: 19px 12px;
    }

    &--next {
      background-position: 24px 12px;
    }

    &:hover,
    &:focus {
      opacity: 0.6;
    }

    &:active {
      opacity: 0.3;
    }
  }
}
