html {
  height: 100%;
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  padding: 0;
  min-width: 320px;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  word-wrap: break-word;
  font-family: $font-family;
  font-size: $font-size;
  line-height: $line-height; //либо переменная либо множителем; (например 1.4, 1.5 определяется в plain text - в наборном тексте берем лайн хейт и делим на размер шрифта)*/
  color: $black;
  background-color: $bg-color;
}

a {
  text-decoration: none;
}
