@mixin list-style-drop {
  margin: 0;
  padding: 0;
  list-style: none;
}

@mixin font-set($size, $line-height, $weight:null) {
  font-size: $size;
  line-height: $line-height;
  font-weight: $weight;
}

@mixin transition($property, $time, $transition) {
  transition-property: $property;
  transition-duration: $time;
  transition-timing-function: $transition;
}
