$white: #ffffff;
$black: #000000;
$primary-color: #63d1bb;
$description-color: #444444;
$bg-color: #ffffff;
$font-family: "Open Sans", arial, sans-serif;
$font-size: 17px;
$line-height: 24px;
$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1150px;
